
        body {
            background: linear-gradient(
            #0f2027,
            #203a43, 
            #2c5364);
            height: 100vh;
            font-family: 'Lato', sans-serif;
            border: solid 15px #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;

        }

        #sports {
            border: solid 5px #fff;
            padding: 30px;
            border-radius: 20px;
            font-size: 3rem;
            text-align: center;
            color: #fff;
        }

        #sports li {
            margin-bottom: 10px;
            border: solid 2px #fff;
            padding: 5px;
            cursor: pointer;
  
        }

        .div2 {
            border: solid 10px #fff;
            border-radius: 20px;
            font-size: 3.5rem;
            text-align: center;
            padding: 80px;
            color: #fff;
        }

        .div1 {
            border: solid 5px #fff;
            border-radius: 20px;
            font-size: 3.5rem;
            text-align: center;
            padding: 50px;
            color: #fff;
            
  
        }

        button {
            display: block;
            font-size: 30px;
          background: none;
          border: solid 2px #fff;
          color: #fff;
          border-radius: 10px;
          padding: 10px 30px;
          margin-top: 10px;
        }
  